<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Keycloak Authentication</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>

      <!--links-->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">link1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">link2</a>
        </li>
      <!--comm <ul class="navbar-nav ml-auto">-->
        <li class="nav-item dropdown" *ngIf="securityService.kc.authenticated">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <span *ngIf="securityService.kc.authenticated">
              {{securityService.kc.tokenParsed}}
            </span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item btn" (click)="onChangePassword()">Change Password</a>
            <a class="dropdown-item btn-link" (click)="onLogout()">Logout</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="!securityService.kc.authenticated">
          <a class="nav-link" (click)="onLogin()">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>